<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовая страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-5">
                <h2>Издательства и их книги</h2>
                <ul class="list-group">
                    {% for publisher in publishers %}
                    <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                        {{publisher.name}} <span class="badge badge-primary badge-pill">{{ publisher.book_publisher__count}}</span></li>
                        <ul class="list-group list-group-flush">
                            {% for book in publisher.book_publisher.all %}
                            <li class="list-group-item"> {{book.title}} </li>
                            {% endfor %}
                        </ul>
                    
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
            </div>
        </div>

    </div>
</body>

</html>